@{
    var categories = Model;
}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--=============== CSS ===============-->
        <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <link rel="stylesheet" href="~/css/home/style.css">
        <style>
        .product-card {
            width: 380px;
            position: relative;
            box-shadow: 0 2px 7px #dfdfdf;
            margin: 50px auto;
            background: #fafafa;
        }

        .badge {
            position: absolute;
            left: 0;
            top: 20px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            background: red;
            color: #fff;
            padding: 3px 10px;
        }

        .product-tumb {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            padding: 50px;
            background: #f0f0f0;
        }

            .product-tumb img {
                max-width: 100%;
                max-height: 100%;
            }

        .product-details {
            padding: 30px;
        }

        .product-catagory {
            display: block;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ccc;
            margin-bottom: 18px;
        }

        .product-details h4 a {
            font-weight: 500;
            display: block;
            margin-bottom: 18px;
            text-transform: uppercase;
            color: #363636;
            text-decoration: none;
            transition: 0.3s;
        }

            .product-details h4 a:hover {
                color: red;
            }

        .product-details p {
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 18px;
            color: #999;
        }

        .product-bottom-details {
            overflow: hidden;
            border-top: 1px solid #eee;
            padding-top: 20px;
        }

            .product-bottom-details div {
                float: left;
                width: 50%;
            }

        .product-price {
            font-size: 18px;
            color: red;
            font-weight: 600;
        }

            .product-price small {
                font-size: 80%;
                font-weight: 400;
                text-decoration: line-through;
                display: inline-block;
                margin-right: 5px;
            }

        .product-links {
            text-align: right;
        }

            .product-links a {
                display: inline-block;
                margin-left: 5px;
                color: #e1e1e1;
                transition: 0.3s;
                font-size: 17px;
            }

                .product-links a:hover {
                    color: red;
                }

        </style>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        

        <!--==================== CART ====================-->   
        <div class="cart" id="cart">
            <i class='bx bx-x cart__close' id="cart-close"></i>

            <h2 class="cart__title-center">My Cart</h2>

            <div class="cart__container">
                <article class="cart__card">
                    <div class="cart__box">
                    <img src="" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Jazzmaster</h3>
                        <span class="cart__price">$1050</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>

                <article class="cart__card">
                    <div class="cart__box">
                    <img src="" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Rose Gold</h3>
                        <span class="cart__price">$850</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>

                <article class="cart__card">
                    <div class="cart__box">
                    <img src="image/home/new1.png" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Longines Rose</h3>
                        <span class="cart__price">$980</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>
            </div>

            <div class="cart__prices">
                <span class="cart__prices-item">3 items</span>
                <span class="cart__prices-total">$2880</span>
            </div>
        </div>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <div class="home__container container grid">
                    <div class="home__img-bg">
                    <img src="image/home/corei9.jpg" alt="" class="home__img">
                    </div>

                    <div class="home__social">
                        <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                            Facebook
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="home__social-link">
                            Twitter
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                            Instagram
                        </a>
                    </div>

                    <div class="home__data">
                    <h1 class="home__title">Introducing Our New 13th Gen Intel® Core™ Processor <br> </h1>
                        <p class="home__description">
                        Do more with the fastest chip we’ve ever built. Ascend leaderboards, create worlds, and crunch numbers—all at once. Get next-generation performance for everything you do with the 13th Gen Intel Core processors.
                        </p>
                        <span class="home__price">$1234</span>

                        <div class="home__btns">
                            <a href="#" class="button button--gray button--small">
                                Discover
                            </a>

                            <button class="button home__button">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== category ====================-->
            <section class="featured section container" id="featured">
                <h2 class="section__title">
                    Category
                </h2>

                <div class="featured__container grid">
                    @foreach (var item in categories)
                    {
                        <article class="featured__card">

                            <img src="@item.Cover" alt="" class="featured__img">

                            <div class="featured__data">
                                <h3 class="featured__title">@item.Type</h3>
                                <span class="featured__price"></span>
                            </div>

                        <a class="button featured__button" asp-action="GetListProductsByCategoryId" asp-controller="ProductList" asp-route-id="@item.Id">DISCOVER</a>
                        </article>
                    }
                </div>
            </section>

    

            <!--====================PRODUCT HOT DEAL =========-->
        <section style="display-flex" class="featured section container" id="featured">
            <h2 class="section__title">
                Category
            </h2>

            <div  class="featured__container grid">
                @foreach (var item in categories)
                {
                    <div style="margin-right: 10px; width: 300px " class="product-card">
                        <div class="badge">New Product</div>
                        <div class="product-tumb">
                            <img src="https://cdn-icons-png.flaticon.com/512/1674/1674395.png" alt="">
                        </div>
                        <div class="product-details">
                            <span class="product-catagory">LEGO, Toy</span>
                            <h4><a href="">Red Lego Man</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                            <div class="product-bottom-details">
                                <div class="product-price"><small>$16.49</small>$8.99</div>
                                <div class="product-links">
                                    <a href=""><i class="fa fa-heart"></i></a>
                                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>


          

            <!--==================== NEWSLETTER ====================-->
            <section class="newsletter section container">
                <div class="newsletter__bg grid">
                    <div>
                        <h2 class="newsletter__title">Subscribe Our <br> Newsletter</h2>
                        <p class="newsletter__description">
                            Don't miss out on your discounts. Subscribe to our email 
                            newsletter to get the best offers, discounts, coupons, 
                            gifts and much more.
                        </p>
                    </div>

                    <form action="" class="newsletter__subscribe">
                        <input type="email" placeholder="Enter your email" class="newsletter__input">
                        <button class="button">
                            SUBSCRIBE
                        </button>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>
<script>
    //$(document).ready(function(){

    //});
    //function getListProductsByCategoryId(categoryId)
    //{
    //    $.ajax({
    //        cache: true,
    //        url: '@Url.Action("GetListProductsByCategoryId", "ProductList")',
    //        type: 'GET',
    //        data: { categoryId: categoryId },
    //        success: function (result) {
    //            console.log(result);
    //        },
    //        error: function (err) {
    //            console.log(err);
    //        }
    //    });
    //}
</script>

