@page
@model LoginModel


@*<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login/style.css" />
</head>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<body>  


	<div class="container" id="container">
		
		<div class="form-container sign-in-container">
			<form action="#">
				<h1>Sign in</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Email" type="email" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input asp-for="Input.Password" type="password" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
				<a href="#">Forgot your password?</a>
				<button>Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
	
	<script>

		const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
	</script>

	</body>
*@

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/login/style.css"/>
	<!-- Font Icon -->
	<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

	<!-- Main css -->
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div>
        <section class="sign-in">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/image/loginpage/signin-image.jpg" alt="sing up image"></figure>
                    <a href="#" class="signup-image-link">Tạo tài khoản</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Đăng nhập</h2>
                    <form method="POST" class="register-form" id="login-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                           
                            <input asp-for="Input.Email" type="email" id="your_name" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" type="password" id="your_pass" placeholder="Mật khẩu" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                        </div>
                    </form>
                    
                </div>
            </div>
        </section>

    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
            <!-- JS -->
    <script src="js/login/jquery.min.js"></script>
    
</body>
</html>



