@using Accessories.Domain.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserEntity> SignInManager
@inject UserManager<UserEntity> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Accessories</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Accessories.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" style="justify-content: center">
            <div class="d-flex">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="width:100px; height: auto; margin-left: 40px; margin-right: 20px" src="~/image/navbar/Alcoo.png" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductList" asp-action="Index">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Giỏ hàng</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="HistoryOrder" asp-controller="Cart" asp-route-userId="@UserManager.GetUserAsync(User).Result?.Id" title="Manage">Lịch sử</a>
                        </li>
                    </ul>
                </div >
                <div style="margin-left:200px">
                    <partial name="_LoginPartial.cshtml" />
                </div>
               

            </div>
        </nav>
    </header>
    <div class="container" style="padding:0px;" id="main-layout">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <!-- Section: Social media -->
   
 

    <!-- Right -->
    
    <!-- Right -->
  
  <!-- Section: Social media -->

  <!-- Section: Links  -->


        <footer class="new_footer_area bg_color">
            <div class="new_footer_top">
                <div class="d-flex">
                    <div class="row">
                        <div class="col-lg-3 col-md-6" style="margin-left: 120px">
                            <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                                <a> <img src="~/image/navbar/Alcoo.png" /> </a>
                                <p>Alco mang đến cho bạn những sản phẩm chất lượng tốt nhất với cả giả hợp lý nhất</p>
                                <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                                    
                                    <p class="mchimp-errmessage" style="display: none;"></p>
                                    <p class="mchimp-sucmessage" style="display: none;"></p>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6" style="margin-left:80px">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Danh mục</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">RAM</a></li>
                                    <li><a href="#">Headphone</a></li>
                                    <li><a href="#">Monitor</a></li>
                                    <li><a href="#">Keyboard</a></li>
                                    <li><a href="#">CPU</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6" style="margin-left:80px">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Liên hệ</h3>
                                <ul class="list-unstyled f_list">
                                    <li><span>Email: alco.co@gamil.com</span></li>
                                    <li><span>SĐT: +84 935 798 584</span></li>
                                    <li><span>Địa chỉ: 279 Nguyễn Tri Phương</span></li>
                                    <li><span>FB: /alco.accessories</span></li>
                                    
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="footer_bg">
                    
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                       
                        
                    </div>
                </div>
            </div>
        </footer>
  <!-- Section: Links  -->

</footer>
<!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
    <script>
        function getUrl()
        {
            return window.location.href;
        }
        window.onload = function(){
            if (getUrl().toLowerCase() != 'https://localhost:7107/identity/account/login' && getUrl().toLowerCase() != 'https://localhost:7107/identity/account/register') {
                document.getElementById('main-layout').classList.remove('container');
                document.getElementById('main-layout').classList.add('container-fluid');
            }
        };
    </script>

